extends ../layout

block content
  .row
    h1 Chat Node
    hr
    form(action='/logon', method='post')
      .col-md-4
        .form-group
            label Name
            br
            input(type='text', class='form-control', name='name', required)
        .form-group
            label Picture
            br
            input(type='radio', name='picture', value='/images/avatar1.jpg', required)
            img(src='/images/avatar1.jpg', height='100')
            input(type='radio', name='picture', value='/images/avatar2.jpg', required)
            img(src='/images/avatar2.jpg', height='100')
            input(type='radio', name='picture', value='/images/avatar3.jpg', required)
            img(src='/images/avatar3.jpg', height='100')
          
        br
        button(type='submit', class='btn btn-default') Enter
        
        a(href='/auth/facebook') Login com facebook